<%- include("partials/header")  %>
<div class="container" id="cont">
    <h1 class="text-center my-5">Welcome to <b>replicalist</b></h1>
    <form action="/" method="POST" class="w-100">
        <div class="row justify-content-center">
            <div class="col-12">
                <p><b>replicalist</b> is a website to help you replicate a playlist on another streaming service. It can be used if you want 
                    to send a playlist to someone who doesn't use the same streaming service as you or you were sent one or even 
                    if you are migrating from your current streaming service and you don't want to leave your playlists behind.</p>
                    <p>Currently the website supports replicating from and to:</p>
                    <ul>
                        <li>Spotify</li>
                        <li>Deezer</li>
                    </ul>
            </div>
            <div class="col-12 py-3" >
                <p id="from"></p>
                <div class="form-group">
                    <input type="text" name="link" placeholder="Playlist Link" class="form-control" id="playlistLink">
                </div>
            </div>
            
            
            <div class="col-12">
                
                <div class="form-group">
                    <label>To</label>
                    <select name="output" class="form-control" id="output">
                        <option value="spotify">Spotify</option>
                        <option value="deezer">Deezer</option>
                    </select>
                </div>
                
            </div>
            <div class="col-12">
                
                <div class="form-group">
                    <input type="submit" class="btn btn-block" value="Submit" id="submit">
                </div>
                
            </div>
            
        </div>
    </form>
    
    <div class="row justify-content-center my-5">
        <div class="col-6 text-center">
            
            <% if(locals.link){ %>
                
                <h1 class="my-3">Your playlist is done</h1>
                <p class="lead">That's quite a taste you got there</p>
                <p><a href="<%= link %>" class="text-warning display-5" target="_blanck"><%= link %></a></p>
                
                <%}%>
                
            </div>
        </div>
        
        <p id="me">
            <a href="https://github.com/Abdullah0sama" target="_blanck"><b>AO</b></a>
        </p>
    </div> 

    <script>
        document.querySelector("#playlistLink").addEventListener("input", changeSelect);
        function changeSelect(e){
            var valueOfSelectInput;
            var link = e.target.value.toLowerCase();
            var submitStatue = true;
            if(link.includes("spotify")) valueOfSelectInput = "Spotify", color="#1DB954", submitStatue = true;
            else if(link.includes("deezer")) valueOfSelectInput = "Deezer", color="#FFF", submitStatue = true;
            else valueOfSelectInput = "Unsupported", color = "#ffcc00", submitStatue = false;
            
            if(submitStatue) document.getElementById("submit").removeAttribute("disabled");
            else document.getElementById("submit").setAttribute("disabled", "disabled");
            
            let ele = document.querySelector("#from");

            ele.textContent = valueOfSelectInput;
            ele.style.color = color; 
        }
    </script>

<%- include("partials/footer")  %> 
